body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}
.chart {
  margin: 10px;
  height: 400px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
  padding: 20px 30px 35px 30px;
}

.chart .title {
  color: rgb(2, 26, 79);
  font-size: 30px;
}

@keyframes widhtChange {
  from {
    width: 200px;
  }
  to {
    width: 250px;
  }
}

.chart .button {
  padding: 7px 15px;
  background: linear-gradient(45deg, #854af2, #1a92ea);
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
  width: 250px;
  animation-name: widhtChange;
  animation-duration: 4s;
}

.chart .button .percent {
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}
.fade {
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
  animation: myanimation 1.5s;
}
@keyframes myanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chart .button .info {
  width: 70px;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 17px;
}
.chart .button .arrow-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.arrow-up {
  margin-right: 4px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 8px solid greenyellow;
}
