body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #d1d1d1;
  background-image: url(./assets/art-background.png);
  background-attachment: fixed;
  background-size: cover;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #000;
  z-index: 1;
}
.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.chart {
  height: 450px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 20px;
  padding: 30px;
}

.chart .title {
  color: rgb(9, 34, 89);
  font-size: 30px;
  font-weight: bold;
}

.chart .button {
  margin-top: 5px;
  padding: 7px 15px;
  background: linear-gradient(45deg, #854af2, #1a92ea);
  border-radius: 14px;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
  width: 230px;
  animation-name: widhtChange;
  animation-duration: 4s;
}

.chart .button .percent {
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}
.fade {
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
  animation: fade 1.5s;
}

.chart .button .info {
  width: 70px;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 17px;
  font-weight: bold;
}
.chart .button .arrow-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.arrow-up {
  margin-right: 4px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid rgb(79, 191, 62);
}
.arrow-down {
  margin-right: 4px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid rgb(193, 30, 30);
}
@keyframes widhtChange {
  from {
    width: 200px;
  }
  to {
    width: 230px;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
